.search-view-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    max-width: 450px;
    width: 100%;
    min-width: 250px;
    background-color: #efefef8c;
    border: 1px solid #efefef;
}
.search-view-container button{
    border: none;
    background-color: transparent;
}
.search-view-container button img{
    width: 25px;
    height: 25px;
    margin:5px 10px;
    object-fit: cover;
    cursor: pointer;
}
.search-view-container input{
    width: 100%;
    outline: none;
    padding: 10px 20px;
    border: none;
    background-color: transparent;

}