/* Forecast Day Container - INICIO - */
.forecast-day-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-width: 550px;
    min-height: 240px;
    padding: 15px;

    border-radius: 10px;
    background-color: #efefef68;
}
.forecast-day-container span.header-main{
    font-size: 1.5em;
    margin-bottom: 5px;
}
/* Forecast Day List - INICIO - */
.forecast-day-container .forecast-day-list{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
/* Scroll Forecast Day List - INICIO - */
.forecast-day-container .forecast-day-list::-webkit-scrollbar{
    width: 5px;          
}
.forecast-day-container .forecast-day-list::-webkit-scrollbar-track{
    background: rgb(84, 151, 223);        /* color of the tracking area */
    border-radius: 5px;
}
.forecast-day-container .forecast-day-list::-webkit-scrollbar-thumb{
    background-color: rgba(41, 41, 154, 0.537);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    margin: 2px;
}
/* Scroll Forecast Day List - FIM - */
/* Forecast Day Item - INICIO - */
.forecast-day-container .forecast-day-list .forecast-day-item{
    min-width: 100px;
    height: 200px;

    margin: 10px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
    background-color: #cbe4f3aa;
}
.forecast-day-container .forecast-day-list .forecast-day-item img{
    width: 100%;
    max-width: 70px;
    object-fit: cover;
    padding: 5px 2px;
}
.forecast-day-container .forecast-day-list .forecast-day-item span.header{
    width: 100%;
    padding-bottom:5px;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.forecast-day-container .forecast-day-list .forecast-day-item span.span-hora{
    font-size: 1.2em;
    padding: 5px 2px;
    text-align: center;
    width: 100%;
    color: #2d2b2b;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.forecast-day-container .forecast-day-list .forecast-day-item span.span-temp{
    font-size: 1.1em;
    width: 100%;
    text-align: center;
    color: #2d2b2b;
    border-top: 1px solid rgba(0,0,0,.5);
}
/* Forecast Day Item - FIM - */
/* Forecast Day List - FIM - */
/* Forecast Day Container - FIM - */

/* Media Querys*/
@media all and (max-width:1130px) {
    .forecast-day-container{
        width: 95%;
        min-width: 95%;
        margin-bottom: 10px;
        padding: 20px;
    }  
}
@media all and (max-width:900px) {
    .forecast-day-container{
        padding: 20px;
    }  
}
@media all and (max-width:600px) {
    .forecast-day-container{
        padding: 20px;
    }
}
@media all and (max-width:450px) {
    .forecast-day-container{
        padding: 20px;
    }
}
 